h1{
    color:blueviolet;
    margin:0;
    padding:0;
}
body{
    background-color:blue;
    overflow-x: none;
    margin:0;
    padding:0;
}
.js{
    display:inline-block;
    width:300px;
    height:400px;
    background-color: aquamarine;
}